*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background: url(star.png) black;
    z-index: -1;
    overflow: hidden;
}

.star_wars{
    perspective: 400px;

}

.crawl{
    position: relative;
    transform-origin: 50% 100%;
    transform: translateY(100%) rotateX(0deg);
    animation: crawl 60s linear forwards;
    animation-duration: 70s;
}

@keyframes crawl{
    0%{
        transform : translateY(100%) rotateX(20deg);
    }
    50%{
        transform: translateY(-500%) rotateX(20deg);
    }
    100%
    {
        transform: translateY(-1000%) rotateX(20deg);
    }
}

p{
    color: blue;
    text-align: justify;
    word-spacing: 10px;
    line-height: 30px;
    animation: move 3s infinite;
}